# OS / System
.DS_Store
Thumbs.db
Desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

# C / C++
*.o
*.obj
*.out
*.exe
*.dll
*.so
*.dylib

# Java
*.class
*.jar
*.war
*.ear

# Build / Temp
build/
dist/
tmp/
temp/
